@import './src/styles.scss';

.lessonTitle{
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        transform: scale(1.1);
    }
    h2{
        color:white;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @extend .frank-picture-header;
        white-space: nowrap;
    }
}