@import './src/styles.scss';
@import '../shared-scss/flowchart.scss';

.flowContainer{
    justify-content: center;
    .flowLine{
        height: 100%;
        width: 40px;
        #rect{
            width: 100%;
            height:6%;
             // Could in the future bind y to flowElm to allow for easier changes in the future
             @include element_size('y',.5);
        }
    }
}




div{
    display: flex;
}