@import './src/styles.scss';

.flowContainer{
    justify-content: center;
    .flowLine{
        height: 10.5vw;
        width: 2vw;
        #rect{
            width: 10.5vw;
            height:.5vw;
             // Could in the future bind y to flowElm to allow for easier changes in the future
             y:4.32vw; 
        }
    }
}




div{
    display: flex;
}