<div class="topSection">
    <img src="./assets/aboutUs.png" alt="">
    <div class="textSide">
        <h2>About us</h2>
        <div>
            <p>At RIPE, our mission is to provide practical financial literacy to help you achieve your life goals. We
                provide you with free detailed courses on topics ranging from food expenses to managing your taxes. In
                addition, our free Life Planning Calculator allows you to establish a budget, organize debt, plan out
                life
                events, and achieve retirement at whatever age you desire. </p>
            <p>This website was created by people from all walks of life, who care deeply about financial freedom. We
                drew
                inspiration from our different backgrounds and ambitions to create a program that anyone can use to get
                their life on track toward a bright future. </p>
        </div>
    </div>
</div>


<h2>The Team</h2>
<div class="teamListCenter">
    <div class="teamList" *ngIf="personal$ | async as personal;">
        <div class="person" *ngFor="let person of personal">
            <img [src]="content.getAsset(person.fields.pictureOfPerson)" alt="">
            <div class="verticalAlign">
                <div class="text">
                    <h3>{{person.fields.nameOfPerson}}</h3>
                    <p>{{person.fields.positionTitle}}</p>
                </div>
            </div>

        </div>

    </div>
</div>