@import './src/styles.scss';

.topSection{
    display: flex;
    justify-content: space-between;
    background-color: #EBF2FA;
    img{
        width: 50%;
    }
    .textSide{
        margin-top:20px;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
        margin-right: 8%;
        width: 40%;
        h2{
            @extend .roboto-header;
            margin: 0;
            text-align: center;
        }
        p{
            @extend .roboto-body;
        }
    }
}



.teamSection{
    color: $bluePrimary;
}
.headerAlign{
    display: flex;
    justify-content: center;
    h2{
        @extend .roboto-header;
        margin-left: 2vw;
        border-bottom: 2px solid currentColor;
    }
}
.teamListCenter{
    // REALLY HACKEY WANT TO FIND A BETTER SOLUTION LATER
    margin-left: 9%;
    .teamList{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
        width:90%;
        .person{
            display: flex;
            // normalizing box size for centering
            // not perfect center but not noticeable
            width: 30vw;
            margin-bottom: 40px;
            img{
                height: 7vw;
            }
            .textContainer{
                height: 7vw;
                .text{
                    margin-left: 20px;
                    display: flex;
                    flex-direction: column;
                    h3{
                        @extend .roboto-small-header;
                        margin-top: 0;
                        margin-bottom: 10px;
                        img{
                            height: 1vw;
                            padding-left: 10px;
                        }
                    }
                    p{
                        @extend .roboto-large-body;
                        margin: 0;
                    }
                    
                }
            }
        }
    }
}


.feedbackForm{
    display: flex;
    justify-content: space-between;
    background-color: #EBF2FA;
    form{
        width: 50%; 
        display: flex;
        justify-content: center;
        .alignCenter{
            width: 25vw;
            .formItem{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
                span{
                    @extend .roboto-large-body;
                    text-align: center;
                    margin-bottom: 2px;
                    color: $bluePrimary;
                }
                mat-form-field{
                    background-color: white;
                    border-radius: 10px;
                    padding-bottom: 5px;
                    mat-error{
                    
                        color:red;
                    }
                    .body{
                        min-height: 200px;
                    }
                }  
            }
            button{
                background-color: #cfe3fa;
                width: inherit;
                margin-top: 10px;
                margin-bottom: 20px;
            }

        }

    }
    .textSide{
        margin-top:20px;
        display: flex;
        flex-direction: column;
        margin-left: 8%;
        margin-right: 8%;
        width: 40%;
        color: $bluePrimary;
        .headerAlign{
            display: flex;
            justify-content: center;
            h2{
                @extend .roboto-header;
                margin: 0;
                border-bottom: 2px solid currentColor;
            }
        }
        p{
            @extend .roboto-body;
        }
    }
}