<div class="content" *ngIf="course$ | async as course; else invalidCourseBlock">
  <app-parallax-title imgUrl="{{content.getAsset(course.courseImage)}}" title="{{course.courseTitle}}">
  </app-parallax-title>
  
  <div class="introBlock" [innerHTML]="content.convertRichText(course.courseDescription)"></div>

  <div [routerLink]="['/lessons', courseId, lesson.fields.lesson.sys.id]" class="lesson" *ngFor="let lesson of course.lessons" >
    <app-course-bar-item imgUrl="{{content.getAsset(lesson.fields.lessonPreviewImg)}}" 
                         title="{{lesson.fields.lessonTitle}}" 
                         description="{{content.convertRichText(lesson.fields.lessonDescription)}}"> 
    </app-course-bar-item>
  </div>
</div>

<ng-template #invalidCourseBlock>
  <div class="content">
    <h2>Could not load course. The given course ID is most likely invalid.</h2>
  </div>
</ng-template>