<div class="background"></div>

<div *ngIf="course$ | async as course">
  <div class="content hideMobile">
      <app-quick-feedback [location] = "course.courseTitle + ' course'"></app-quick-feedback>
    
      <app-parallax-title [imgUrl]="content.getAsset(course.courseImage)" [title]="course.courseTitle">
      </app-parallax-title>
    
      <div class="flowchart">
        <app-flowchart parentCourseName="{{course.courseTitle}}"></app-flowchart>
      </div>
    
      <div class="introBlock">
        <div class="content" [innerHTML]="content.convertRichText(course.courseDescription)"></div>
      </div>
    
      <div [routerLink]="['/lessons', courseId, lesson.fields.lesson.fields.titleURLNormalized]" class="lesson"
        *ngFor="let lesson of course.lessons">
        <app-course-bar-item imgUrl="{{content.getAsset(lesson.fields.lessonPreviewImg)}}"
          title="{{lesson.fields.lessonTitle}}" description="{{content.convertRichText(lesson.fields.lessonDescription)}}">
        </app-course-bar-item>
      </div>
    
      <div class="nextButtons">
        <h2 *ngIf="!nextCourse">Congrats You Have Finished All the Courses!</h2>
        <div class="buttons">
          <button [routerLink]="['/courses']">Course Overview</button>
          <button *ngIf="nextCourse"
            [routerLink]="['/courses',nextCourse.id]">{{nextCourse.courseTitle}}</button>
        </div>
      </div>
  </div>

  <div class="hideDesktop">

    <div class="header">
      <img [src]="content.getAsset(course.courseImage)" alt="">
      <h1>{{course.courseTitle}}</h1>
    </div>

    <div class="courseDescription horizontalAlign">
      <div class="contentfulContent" [innerHTML]="content.convertRichText(course.courseDescription)"></div>
    </div>

    <div class="cards">
      <div class="horizontalAlign" *ngFor="let lesson of course.lessons">
        <div class="card" [routerLink]="['/lessons', courseId, lesson.fields.lesson.fields.titleURLNormalized]">
          <div class="imgWrapper">
            <img [src]="content.getAsset(lesson.fields.lessonPreviewImg)" alt="">
          </div>
          <div class="verticalAlign">
            <div class="horizontalAlign">
              <h2>{{lesson.fields.lessonTitle}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-shared-footer></app-shared-footer>
</div>