<app-quick-feedback [location]="lesson.titleText + ' lesson'"></app-quick-feedback>

<div class="hideMobile">
  <app-parallax-title [imgUrl]="content.getAsset(lesson.titleGraphic)" [title]="lesson.titleText"></app-parallax-title>
  <div class="introBlock">
    <div class="text">
      <h2 class="frank-small-header">Introduction</h2>
      <div [innerHTML]="content.convertRichText(lesson.introduction)" class="nunito-body"></div>
    </div>
  
    <div class="infoGraphic verticalAlign">
      <img [src]="content.getAsset(lesson.introductionInfographic)" alt="">
    </div>
  
  </div>
  
  <div class="videoBlock">
    <iframe [src]="lesson.introVideo | safe" frameborder="0" allowfullscreen></iframe>
    <div class="caption">
      <div class="text" [innerHTML]="content.convertRichText(lesson.introVideoCaption)"></div>
    </div>
  </div>
  
  <div class="banner">
    <h2 class="verticalAlign">Overview</h2>
  </div>
  
  <div class="overviewPoints">
    <div class="listItem" *ngFor="let item of lesson.goalsListField;let i = index;">
      <h2 class="number frank-numbers">{{i+1}}</h2>
      <p class="text nunito-body">{{item}}</p>
    </div>
  </div>
  
  <div class="banner">
    <h2 class="verticalAlign">What Do I Need to Know?</h2>
  </div>
  
  <div [ngClass]="pageSettings.whatDoINeedToKnowAlt ? 'mainContentAlt' : 'mainContent'">
    <div class="contentSide">
      <div [innerHTML]="content.convertRichText(lesson.whatDoINeedToKnow)" class="nunito-body"></div>
    </div>
    <div class="graphic">
      <img class="verticalAlign" [src]="content.getAsset(lesson.whatDoINeedToKnowInfographic)" alt="">
    </div>
    <div class="graphic2" *ngIf="lesson.wdintkImg2?.fields?.file">
      <img [src]="content.getAsset(lesson.wdintkImg2)" alt="">
    </div>
    <div *ngIf="lesson.wdintkText2" class="content2">
      <div [innerHTML]="content.convertRichText(lesson.wdintkText2)" class="nunito-body"></div>
    </div>
  </div>
  
  <div class="WDISBanner">
    <h2 class="verticalAlign frank-small-header">Where do I start?</h2>
    <a target="_blank" (click)="goToSpreadSheet()" class="verticalAlign disabled"
      [ngClass]="isAuthenticated ? 'enabled' : 'disabled'"><u>Click here to get the template</u>
      <div class="popUp">
        <p>Sign in to use the Life Planner tool</p>
      </div>
    </a>
  
  </div>
  
  <div class="WDSI">
    <div class="listItem" *ngFor="let item of lesson.whereDoIStart;let i = index;">
      <h2 *ngIf="lesson.whereDoIStart.length > 1" class="number frank-numbers">{{i+1}}</h2>
      <p [ngClass]="lesson.whereDoIStart.length > 1 ? 'testWithNum' : 'testWithoutNum'" class="nunito-body">
        {{item}}</p>
      <img [src]="content.getAsset(lesson.whereDoIStartMedia[i])" alt="">
    </div>
  </div>
  
  <div class="banner">
    <h2 class="verticalAlign">{{lesson.titleText}} Tips</h2>
  </div>
  
  <div class="dosDonts">
    <div class="column">
      <div class="horizontalAlign">
        <img src="assets/dos.png" alt="Do">
      </div>
      <div class="nunito-body" [innerHTML]="content.convertRichText(lesson.dos)"></div>
    </div>
    <div class="column">
      <div class="horizontalAlign">
        <img src="assets/donts.png" alt="Don't">
      </div>
      <div class="nunito-body" [innerHTML]="content.convertRichText(lesson.donts)"></div>
    </div>
  </div>
  
  <div class="banner">
    <h2 class="verticalAlign">Summary</h2>
  </div>
  
  <div class="summary">
    <div class="content nunito-body" [innerHTML]="content.convertRichText(lesson.summary)"></div>
  </div>
  
  <div class="sources">
    <h3>Sources</h3>
    <div class="frank-sources" [innerHTML]="content.convertRichText(lesson.sources)"></div>
  </div>
  
  <div class="nextButtons">
    <h2 *ngIf="!nextLesson">Congrats You Have Finished the Course!</h2>
    <h2 *ngIf="!nextLesson && nextCourse">Next Course:</h2>
    <div class="buttons">
      <button *ngIf="!nextLesson && nextCourse" [routerLink]="['/courses',nextCourse.id]"><p>{{nextCourse.courseTitle}}</p></button>
      <button *ngIf="nextLesson" [routerLink]="['/courses',courseId]"><p>Course Home</p></button>
      <button *ngIf="nextLesson"
        [routerLink]="['/lessons',courseId,nextLesson.titleURLNormalized]"><p>{{nextLesson.titleText}}</p></button>
    </div>
  
  </div>
</div>


<div class="hideDesktop">
  <div class="pictureIntro">
    <img [src]="content.getAsset(lesson.titleGraphic)" alt="header">
    <h2>{{lesson.titleText}}</h2>
  </div>

  <div class="introduction">
    <h2>Introduction</h2>
    <div class="horizontalAlign">
        <div class="contentfulContent" [innerHTML]="content.convertRichText(lesson.introduction)"></div>
    </div>
  </div>

  <div class="videoBlock">
    <div class="horizontalAlign">
      <iframe [src]="lesson.introVideo | safe" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="banner">
    <h2>Goals</h2>
  </div>

  <div class="horizontalAlign">
    <div class="goals">
      <div class="listItem" *ngFor="let item of lesson.goalsListField;let i = index;">
        <h2>{{i+1}}</h2>
        <div class="verticalAlign">
          <p>{{item}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="banner">
      <h2>What do I need to know?</h2>
  </div>


  <div class="whatDoINeedToKnow">
    <img [src]="content.getAsset(lesson.whatDoINeedToKnowInfographic)" alt="">
    <div class="horizontalAlign">
      <div [innerHTML]="content.convertRichText(lesson.whatDoINeedToKnow)" class="contentfulContent"></div>
    </div>
    <img *ngIf="lesson.wdintkImg2?.fields?.file" [src]="content.getAsset(lesson.wdintkImg2)" alt="">
    <div class="horizontalAlign">
      <div *ngIf="lesson.wdintkText2" [innerHTML]="content.convertRichText(lesson.wdintkText2)" class="contentfulContent"></div>
    </div>
  </div>

  <div class="banner templateBanner">
    <h2>Where do I start?</h2>
    <a target="_blank" (click)="goToSpreadSheet()" class="verticalAlign disabled"
      [ngClass]="isAuthenticated ? 'enabled' : 'disabled'"><u>Click here to get the template</u>
      <div class="popUp">
        <p>Sign in to use the Life Planner tool</p>
      </div>
    </a>
  </div>

  <div class="WDSI">
    <div class="listItem" *ngFor="let item of lesson.whereDoIStart;let i = index;">
      <div class="text">
        <h2 *ngIf="lesson.whereDoIStart.length > 1" class="number">{{i+1}}</h2>
        <div *ngIf="lesson.whereDoIStart.length > 1" class="verticalAlign">
          <p class="textWithNumber">{{item}}</p>
        </div>
        <div class="horizontalAlign">
          <p *ngIf="lesson.whereDoIStart.length == 1" class="contentfulContent">{{item}}</p>
        </div>
      </div>
      <img [src]="content.getAsset(lesson.whereDoIStartMedia[i])" alt="">
    </div>
  </div>

  <div class="banner">
    <h2>{{lesson.titleText}} Tips</h2>
  </div>

  <div class="dosDonts">
    <div class="horizontalAlign">
      <img src="assets/dos.png" alt="Do">
    </div>
    <div class="horizontalAlign">
      <div class="contentfulContent" [innerHTML]="content.convertRichText(lesson.dos)"></div>
    </div>
    <div class="horizontalAlign">
      <img src="assets/donts.png" alt="Don't">
    </div>
    <div class="horizontalAlign">
      <div class="contentfulContent" [innerHTML]="content.convertRichText(lesson.donts)"></div>
    </div>    
  </div>
  
  <div class="banner">
    <h2>Summary</h2>
  </div>

  <div class="horizontalAlign">
    <div class="contentfulContent summary" [innerHTML]="content.convertRichText(lesson.summary)"></div>
  </div>


  <div class="sources">
    <h3>Sources</h3>
    <div class="contentfulContent" [innerHTML]="content.convertRichText(lesson.sources)"></div>
  </div>


  <div class="nextButtons">
    <div class="horizontalAlign">
      <h2 *ngIf="!nextLesson && nextCourse">Next Course:</h2>
    </div>
    <div class="horizontalAlign">
      <div class="buttons">
        <button *ngIf="!nextLesson && nextCourse" [routerLink]="['/courses',nextCourse.id]"><p>{{nextCourse.courseTitle}}</p></button>
        <button *ngIf="nextLesson"
        [routerLink]="['/lessons',courseId,nextLesson.titleURLNormalized]"><p>{{nextLesson.titleText}}</p></button>
        <button *ngIf="nextLesson" [routerLink]="['/courses',courseId]"><p>Course Home</p></button>
      </div>
    </div>
  
  </div>
  
</div>