@import './src/styles.scss';

$elementSize:9.2vw;

.flowElm{
    display: flex;
    flex-direction: column;
    position: relative;
    svg{
        width:$elementSize;
        height:$elementSize;
    }
    

    .circle{
        position: relative;
        img{
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width:$elementSize;
        }
    }
    p{
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%,0);
        margin: 0;
        color: $bluePrimary;
        white-space: nowrap;
        @extend .nunito-body;
    }

    .circleCenter{
        cx:$elementSize / 2;
        cy:$elementSize / 2;
    }

    #background{
        @extend .circleCenter;
        fill: $grey;
        r:$elementSize /176 * 80;
    }
    #progress{
        @extend .circleCenter;
        fill: $greenAcescent;
        r:$elementSize /176 * 80;
    }
    #currentCourse{
        @extend .circleCenter;
        fill: none;
        r:$elementSize / 2;
    }
}