@import './src/styles.scss';


.flowElm{
    display: flex;
    flex-direction: column;
    position: relative;
    svg{
        width: 176px;
        height:176px;
    }
    

    .circle{
        position: relative;
        img{
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width:170px;
        }
    }
    p{
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%,0);
        margin: 0;
        color: $bluePrimary;
        white-space: nowrap;
        @extend .nunito-body;
    }
    #background{
        fill: $greyPrimary;
    }
    #progress{
        fill: $greenAcescent;
    }
    #currentCourse{
        fill: none;
    }
}