@import '../../../../styles.scss';


.flowElm{
    display: flex;
    flex-direction: column;
    svg{
        width: 160px;
        height:160px;
    }
    

    .circle{
        position: relative;
        img{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    p{
        display: flex;
        justify-content: center;
        margin: 0;
        color: $bluePrimary;
        @extend .nunito-body
    }
    #background{
        fill: $greyPrimary;
    }
    #progress{
        fill: $greenAcescent;
    }
}