<app-background-image src="assets/homeBackground.png"></app-background-image>
<app-quick-feedback reportingLocation="Home Page" ></app-quick-feedback>
<div class="foreground">
    <h2>Live your life with financial certainty</h2>
    <div class="start">
        <div class="prop">
            <h3>Plan your financial future.</h3>
            <h3>Free online courses.</h3>
        </div>
        
        <button [routerLink]="['/courses']" routerLinkActive="router-link-active">Start learning</button>
    </div>
</div>