@import "./src/styles.scss";

/* Vars */
$groupSpacing:40px;

/* Layout */

.content{
    max-width: 1500px;
    margin: auto;
}

.introBlock{
    display: grid;
    grid-template-columns: [start] 5%  [text] 50%  7% [graphic] 30% [spaceRight] 8% [end];
    background-color:$bluePrimary;
    .text{
        h2{
            margin-top: 20px;
            margin-bottom: 0;
        }
        grid-column: text;
        color:white;
    }
    .infoGraphic{
        grid-column: graphic;
        img{
           width: 100%;
           max-width: 600px;
           margin: 20px;
           margin-top: 40px;
           height: auto;
        }
    }
}

.videoBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:$groupSpacing;
    iframe{
        //see if I can set aspect ratio dynamically
        width:1300px;
        height:730px;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
    .caption{
        display: flex;
        justify-content: center;
        .text{
            font-weight: 300;
            font-size: 25px;
            line-height: 32px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.banner{
    background-color: $bluePrimary;
    display: flex;
    justify-content: center;
    color: white;
    margin-top:$groupSpacing;
    height: 120px;
    h2{
        @extend .frank-small-header;
        text-align: center;
        margin: 0;
    }
}

.overviewPoints{
    display: flex;
    justify-content: space-around;
    margin-top: $groupSpacing;
    .listItem{
        display: flex;
    
        .number{
            text-align: center;
            margin: 0;
        }
        .text{
            text-align: center;
            width: 300px;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 20px;
            margin-left: 20px;
        }
        
    }
}

.mainContent{
    margin-top: $groupSpacing;
    display: grid;
    grid-template-columns: [start] 5%  [text] 55%  [spaceBetween] 5% [graphic] 30% [spaceRight] 5% [end];
    .contentSide{
        grid-column: text;
    }
    .graphic{
        grid-column: graphic;
        img{
            width: 100%;
            height: auto;
        }
    }
}

.mainContentAlt{
    margin-top: $groupSpacing;
    display: grid;
    grid-template-columns: [start] 10%  [content] auto 10% [end];
    grid-template-rows: [graphic] auto [text] auto [graphic2] auto [text2] auto;
    .contentSide{
        grid-column:content;
        grid-row: text;
    }
    .graphic{
        grid-column:content;
        grid-row: graphic;
        img{
            width: 100%;
            height: auto;
        }
    }
    .graphic2{
        @extend .graphic;
        grid-row:graphic2;
    }
    .content2{
        grid-column: content;
        grid-row: text2;
    }
}

.WDISBanner{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: $bluePrimary;
    color:white;
    height: 120px;
    h2{
        text-align: center;
        margin: 0;
        margin-left: 60px;
    }
    .disabled{
        cursor: not-allowed;
        &:hover{
            .popUp{
               opacity: 1;
            }
        }
    }
    .enabled{
        cursor: pointer;
        &:hover{
            .popUp{
                opacity: 0;
             }
        }
    
    }
    a{
        font-weight: 300;
        font-size: 36px;
        line-height: 46px;
        margin-right: 60px;
        color: white;
        position: relative;
        cursor: pointer;
        
        .popUp{
            opacity: 0;
            background-color: $grey;
            border-radius: 2vw;
            position: absolute;
            top: 27%;
            transition: all .4s;
            p{
                @extend .frank-sources;
                color: black;
                margin: 8px 8px 8px 8px;
            }
        }
    }
  
}

.WDSI{
    display: flex;
    flex-direction: column;
    .listItem{
        margin-top:$groupSpacing;
        margin-bottom:$groupSpacing;
        display: grid;
        grid-template-columns: [start] 5%  [number] 5%  [spaceBetween1] 5% [text] 30% [spaceBetween2] 10% [img] 40% [spaceRight] 5% [end];
        h2{
            grid-column: number;
            margin: 0;
            text-align: center;
        }
        .testWithNum{
            grid-column: text;
        }
        .testWithoutNum{
            grid-column-start: number;
            grid-column-end: spaceBetween2;
        }
        img{
            grid-column: img;
            width:100%;
            margin: 20px;
            height: auto;
        }
    }
}

.dosDonts{
    display: flex;
    justify-content: space-around;
    margin-top: $groupSpacing;
    .column{
        display: flex;
        flex-direction: column;
        width: 35%;
        img{
           height: 6vw;
           width: 16vw;
        }
    }
}

.summary{
    margin-top: $groupSpacing;
    display: flex;
    justify-content: center;
    .content{
        width: 70%;
        max-width: 1000px;
    }
}

.sources{
    display: flex;
    flex-direction: column;
    padding-top: $groupSpacing;
    padding-left: $groupSpacing;
    h3{
        font-weight: bold;
        font-size: 24px;
        line-height: 31px;
    }
}

.nextButtons{
    margin-top: $groupSpacing;
    margin-bottom: $groupSpacing;
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
        font-weight: 300;
        font-size: 64px;
        line-height: 83px;
    }
    .buttons{    
        display: flex;
        justify-content: space-around;
        button{
            width: 15%;
            background-color: #f0f0f0;
            border-radius: 4px;
            border-width: thin;
            border-color: $bluePrimary;
            font-weight: bold;
            font-size: 48px;
            line-height: 62px;
            transition: ease-out 0.4s;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
        }
        button:hover{
            box-shadow: inset 400px 0 0 0 #2c7bd0ab;
        }
    }
}