<div class="background"></div>



<div class="content" *ngIf="lesson$ | async as lesson;">

  <app-quick-feedback [location]="lesson.fields.titleText + ' lesson'"></app-quick-feedback>

  <app-parallax-title imgUrl="{{content.getAsset(lesson.fields.titleGraphic)}}" title="{{lesson.fields.titleText}}">
  </app-parallax-title>


  <div class="introBlock">
    <div class="text">
      <h2 class="frank-small-header">Introduction</h2>
      <div [innerHTML]="content.convertRichText(lesson.fields.introduction)" class="nunito-body"></div>
    </div>

    <div class="infoGraphic verticalAlign">
      <img [src]="content.getAsset(lesson.fields.introductionInfographic)" alt="">
    </div>

  </div>

  <div class="videoBlock">
    <iframe [src]="lesson.fields.introVideo | safe" frameborder="0" allowfullscreen></iframe>
    <div class="caption">
      <div class="text" [innerHTML]="content.convertRichText(lesson.fields.introVideoCaption)"></div>
    </div>
  </div>

  <div class="banner">
    <h2 class="verticalAlign">Overview</h2>
  </div>

  <div class="overviewPoints">
    <div class="listItem" *ngFor="let item of lesson.fields.goalsListField;let i = index;">
      <h2 class="number frank-numbers">{{i+1}}</h2>
      <p class="text nunito-body">{{item}}</p>
    </div>
  </div>

  <div class="banner">
    <h2 class="verticalAlign">What Do I Need to Know?</h2>
  </div>

  <div [ngClass]="pageSettings.whatDoINeedToKnowAlt ? 'mainContentAlt' : 'mainContent'">
    <div class="contentSide">
      <div [innerHTML]="content.convertRichText(lesson.fields.whatDoINeedToKnow)" class="nunito-body"></div>
    </div>
    <div class="graphic">
      <img class="verticalAlign" [src]="content.getAsset(lesson.fields.whatDoINeedToKnowInfographic)" alt="">
    </div>
    <div class="graphic2" *ngIf="lesson.fields.wdintkImg2?.fields?.file">
      <img [src]="content.getAsset(lesson.fields.wdintkImg2)" alt="">
    </div>
    <div *ngIf="lesson.fields.wdintkText2" class="content2">
      <div [innerHTML]="content.convertRichText(lesson.fields.wdintkText2)" class="nunito-body"></div>
    </div>
  </div>

  <div class="WDISBanner">
    <h2 class="verticalAlign frank-small-header">Where do I start?</h2>
    <a target="_blank" (click)="goToSpreadSheet()" class="verticalAlign disabled"
      [ngClass]="isAuthenticated ? 'enabled' : 'disabled'"><u>Click here to get the template</u>
      <div class="popUp">
        <p>Sign in to use the Life Planner tool</p>
      </div>
    </a>

  </div>

  <div class="WDSI">
    <div class="listItem" *ngFor="let item of lesson.fields.whereDoIStart;let i = index;">
      <h2 *ngIf="lesson.fields.whereDoIStart.length > 1" class="number frank-numbers">{{i+1}}</h2>
      <p [ngClass]="lesson.fields.whereDoIStart.length > 1 ? 'testWithNum' : 'testWithoutNum'" class="nunito-body">
        {{item}}</p>
      <img [src]="content.getAsset(lesson.fields.whereDoIStartMedia[i])" alt="">
    </div>
  </div>

  <div class="banner">
    <h2 class="verticalAlign">{{lesson.fields.titleText}}</h2>
  </div>

  <div class="dosDonts">
    <div class="column">
      <div class="horizontalAlign">
        <img src="assets/dos.png" alt="Do">
      </div>
      <div class="nunito-body" [innerHTML]="content.convertRichText(lesson.fields.dos)"></div>
    </div>
    <div class="column">
      <div class="horizontalAlign">
        <img src="assets/donts.png" alt="Don't">
      </div>
      <div class="nunito-body" [innerHTML]="content.convertRichText(lesson.fields.donts)"></div>
    </div>
  </div>

  <div class="banner">
    <h2 class="verticalAlign">Summary</h2>
  </div>

  <div class="summary">
    <div class="content nunito-body" [innerHTML]="content.convertRichText(lesson.fields.summary)"></div>
  </div>

  <div class="sources">
    <h3>Sources</h3>
    <div class="frank-sources" [innerHTML]="content.convertRichText(lesson.fields.sources)"></div>
  </div>

  <div class="nextButtons">
    <h2 *ngIf="!nextLesson">Congrats You Have Finished the Course!</h2>
    <div class="buttons">
      <button [routerLink]="['/courses',courseId]">Course Home</button>
      <button *ngIf="nextLesson"
        [routerLink]="['/lessons',courseId,nextLesson.sys.id]">{{nextLesson.fields.titleText}}</button>
    </div>

  </div>


</div>