<div class="desktopNav hideMobile">

    <div class="logoSection">
        <div class="verticalAlign">
            <img src="assets/muni-logo.png" alt="" [routerLink]="['/']">
        </div>
    </div>
    
    <nav class="mainNav">
        <ul class="mainNavList">
            <li class="dropdownContainer">
                <div class="navDropLabel" [routerLink]="['courses']">
                    <div class="centerElements">
                      <a>Courses</a>
                      <div class="arrow-down"></div>
                    </div>
                </div>
                <ul class="dropdownList">
                    <li *ngFor="let course of courses | async">
                        <a [routerLink]="['/courses', course.id]">{{course.courseTitle}}</a>
                    </li>
                </ul>
            </li>

            <li class="dropdownContainer">
                <div class="navDropLabel" [routerLink] = "['tools']">
                  <div class="centerElements">
                    <a>Tools</a>
                    <div class="arrow-down"></div>
                  </div>
                </div>
                <ul class="dropdownList">
                    <li>
                        <a [routerLink]="['tools','spreadsheet']">Spreadsheet</a>
                    </li>
                    <li>
                        <a [routerLink]="['tools','calculator']">Calculator</a>
                    </li>
                </ul>

            </li>
            
            <li><a [routerLink]="['/about']">About</a></li>
            <li><a [routerLink]="['/about']" fragment="feedback">Feedback</a></li>
        </ul>
    </nav>

    <div class="signInWidget">
        <div style="display: flex;">
            <div *ngIf="$user | async as user; else defaultIcon">
                <div class="verticalAlign">
                    <img *ngIf="user.photoURL" [src]="user.photoURL" class="icon">
                    <div *ngIf="!user.photoURL" class="icon">
                        <fa-icon [icon]="faUser" class="signedInIcon"></fa-icon>
                    </div>
                </div>
            </div>
            <ng-template #defaultIcon>
                <div class="verticalAlign">
                    <div class="icon">
                        <fa-icon [icon]="faUser" class="signedOutIcon"></fa-icon>
                    </div>
                </div>
            </ng-template>

            <!--verticalAlign-->
            <div class="signInOptions verticalAlign">
                <div *ngIf="$user | async as user; else loginButtons">
                    <p> {{user.displayName}}</p>
                    <button (click)='auth.signOut()'>Sign Out</button>
                </div>
                <ng-template #loginButtons>
                    <a [routerLink]="['/login']">Log In</a>
                    <a [routerLink]="['/register']">Register</a>
                </ng-template>
            </div>

        </div>

    </div>
</div>



<div class="mobileNav hideDesktop">
    <div class="flexContainer">
        <div class="logo" [routerLink]="['/']" (tap)="resetAndCloseMobileNav()">
            <img src="assets/mobileLogo.png" alt="">
        </div>

        <div class="hamburger hamburger--spin hideDesktop" (tap)="toggleMobileDropDown()" [ngClass]="toggles.hamburgerIsActive ? 'is-active hamburgerTurn' : ''">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        
        <div [class.active]="toggles.hamburgerIsActive" class="mobileDrop">
            <ul>
                <li (tap)="toggleMobileSubDropDown('courses')"  class="navItem">
                    <div class="navDropLabel">
                        <div class="verticalAlign">
                            <a>Courses</a>
                        </div>
                        
                        <div class="verticalAlign">
                            <div class="arrow-down" [class.active]="toggles.dropDowns.courses"></div>
                        </div>
                    </div>
                </li>
                <li class="mobileSubDrop" [class.active]="toggles.dropDowns.courses">
                    <ul>
                        <li [routerLink]="['/courses']" (tap)="resetAndCloseMobileNav()" class="verticalAlign">
                            <a>Course Overview</a>
                        </li>
                        <li *ngFor="let course of courses | async" [routerLink]="['/courses', course.id]" (tap)="resetAndCloseMobileNav()" class="verticalAlign">
                            <a>{{course.courseTitle}}</a>
                        </li>
                    </ul>
                </li>
        
                <li (tap)="toggleMobileSubDropDown('tools')" class="navItem">
                    <div class="navDropLabel">
                        <div class="verticalAlign">
                            <a>Tools</a>
                        </div>

                        <div class="verticalAlign">
                            <div class="arrow-down" [class.active]="toggles.dropDowns.tools"></div>
                        </div> 
                    </div>
                </li>
                <li class="mobileSubDrop" [class.active]="toggles.dropDowns.tools">
                    <ul>
                        <li class="verticalAlign">
                            <a [routerLink]="['tools']" (tap)="resetAndCloseMobileNav()">All Tools</a>
                        </li>
                        <li class="verticalAlign">
                            <a [routerLink]="['tools','spreadsheet']" (tap)="resetAndCloseMobileNav()">Spreadsheet</a>
                        </li>
                        <li class="verticalAlign">
                            <a [routerLink]="['tools','calculator']" (tap)="resetAndCloseMobileNav()">Calculator</a>
                        </li>
                    </ul>
                </li>
        
                <li class="navItem">
                    <div class="navLabel verticalAlign">
                        <a [routerLink]="['/about']" (tap)="resetAndCloseMobileNav()">About</a>
                    </div>  
                </li>
        
            </ul>
        </div>
    
        <div class="mobileSignInLogo" (tap)="toggleSignIn()">
            <div *ngIf="$user | async as user; else defaultIcon">
                <div class="verticalAlign">
                    <img *ngIf="user.photoURL" [src]="user.photoURL" class="icon">
                    <div *ngIf="!user.photoURL" class="icon">
                        <fa-icon [icon]="faUser" class="signedInIcon"></fa-icon>
                    </div>
                </div>
            </div>
            <ng-template #defaultIcon>
                <div class="verticalAlign">
                    <div class="icon">
                        <fa-icon [icon]="faUser" class="signedOutIcon"></fa-icon>
                    </div>
                </div>
            </ng-template>
        </div>


        <div class="mobileUserOptions" [class.active]="toggles.mobileSignInOptions">
            <ul *ngIf="!($user | async)">
                <li class="verticalAlign">
                    <a [routerLink]="['/login']" (tap)="resetAndCloseMobileNav()">Log In</a>
                </li>
                <li class="verticalAlign">
                    <a [routerLink]="['/register']" (tap)="resetAndCloseMobileNav()">Register</a>
                </li>
            </ul>
            <ul *ngIf="$user | async as user">
                <li class="verticalAlign">
                    <a (tap)='auth.signOut();resetAndCloseMobileNav()'>Sign Out</a>
                </li>
            </ul>
        </div>



    </div> 
</div>

