@import './src/styles.scss';

mat-card{
    background-color:#3a77a3b6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    color:white;
    text-align: center;
    border-radius: 3vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    h2 {
        @extend .roboto-large-header;
        margin:0;
        margin-bottom: 4vw;
    }
    p{
        @extend .roboto-small-header;
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    mat-card{
        width:80% !important;
    }
    h2 {
        font-size: 36px !important;
        line-height: 42px !important;
    }
    p{
        font-size: 14px !important;
        line-height: 16px !important;
    }
  }