<footer>
    <div class="wrapper">

            <p class="hideMobile">
                This website is a work in progress, please bear with us. <br>
                ©2020 Muni, All Rights Reserved
            </p>

            <p class="hideDesktop">©2020 Muni, All Rights Reserved</p>

        <div class="right">
            <img src="assets/footerLogo.png" alt="">
            <div class="socials">
                <div class="verticalAlign">
                    <a href="https://www.instagram.com/muni_financial/" target="_blank"><img src="assets/insta.png" alt="instagram logo"></a>    
                </div>

                <div class="verticalAlign hideMobile">
                    <a href="https://www.facebook.com/Muni.Financial" target="_blank"><img src="assets/facebook.png" alt="facebook logo"></a>    
                </div>

                <div class="verticalAlign hideMobile">
                    <a href="https://twitter.com/FinancialMuni?s=20" target="_blank"><img src="assets/twitter.png" alt="twitter logo"></a>    
                </div>
                
            </div>
        </div>
    </div>
</footer>