<div class="background">
    <img #background src="assets/login-page.png" [ngClass]="backgroundRatio < windowRatio ? 'width' : 'height'"/>
</div>

<div class="foreground">
    <mat-card>
        <h2 class="roboto-auth-header"><b>Login</b> </h2>
        <form [formGroup]="loginForm">
            <div class="formItem">
                <span>Email:</span>
                <mat-form-field appearance="fill">
                        <input matInput formControlName="email" required email>
                        <mat-error>{{getEmailErrors()}}</mat-error>
                </mat-form-field> 
            </div>


            <div class="formItem">
                <span>Password:</span>
                <mat-form-field appearance="fill">
                    <input type="password" matInput formControlName="password" required>
                    <mat-error>Required *</mat-error>
                </mat-form-field>
            </div>

            <button (click)="submit()"><span>Login</span></button>

        </form>
        <p class="errorText">{{errorText}}</p>
        <p class="signInOptionsLabel">Make an account with:</p>
        <div class="signInOptions">
            <app-google-sign-in></app-google-sign-in>
            <app-facebook-sign-in></app-facebook-sign-in>
        </div>
    </mat-card>
</div>