@import './src/styles.scss';

/* Fonts */
.roboto-auth-header{
@extend .roboto;
font-size: 36px;
line-height: 49px;
border-bottom: 2px solid currentColor;
color: $bluePrimary;
}

.roboto-auth-label{
@extend .roboto;
font-size: 18px;
line-height: 33px;
color: $bluePrimary;
}

.roboto-auth-button{
@extend .roboto;
font-size: 22px;
line-height: 35px;
color: white;
}
  
/* Layout */

.foreground{
    h2{
        // Hackey since H2 is full width??
        width: 27%;
    }
    mat-card{
        border-radius: 10px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 17%;
        min-width: 350px;
        background-color: $lightBlueCard;
        .formItem{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            span{
                @extend .roboto-auth-label;
                margin-bottom: 2px;
            }
            mat-form-field{
                background-color: white;
                border-radius: 10px;
                padding-bottom: 5px;
                mat-error{
                
                    color:red;
                }
                .body{
                    min-height: 200px;
                }
            }  
        }
        button{
            span{
                @extend .roboto-auth-button;
            }
            background-color:$bluePrimary;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 4px;
        }
        .errorText{
            color: red;
        }
        .signInOptionsLabel{
            @extend .roboto-auth-label;
            text-align: center;
        }
        .signInOptions{
            display: flex;
            justify-content: space-evenly;
            & > * {
                width: 25%;
            }
        }
    }
}


@media only screen and (max-width: $mobileBreakpoint) {
    mat-card{
        min-width: 250px !important;
    }
    .signInOptions{
        justify-content: space-between !important;
    }
    app-google-sign-in{
        width: auto !important;
    }
    app-facebook-sign-in{
        width: auto !important;
    }
    
}


