/* You can add global styles to this file, and also import other style files */

$primary: #2c7ad0;
$primaryAcescent: #2366af;

$mobileHamburger:#464853;

body{
    margin: 0;
}

html, body {
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
}

/* Utils */

.verticalAlign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}