$bluePrimary: #427AA1;
$blueAcescent: #6EA0C4;
$greenPrimary:#679436;
$greenAcescent:#A5BE00;
$lightBlueGreyPrimary:#cbdcee;
$grey: #dcdcdc;
$lightBlueCard:#EBF2FA;

$mobileHamburger:#464853;

body{
    margin: 0;
}

html, body {
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
}

.content{
    max-width: 1500px;
    margin: auto;
    background-color: white;
    padding-bottom: 40px;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -5;
    background-color: $blueAcescent;
}

/* Utils */

.verticalAlign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.horizontalAlign{
    display: flex;
    justify-content: center;
}

/* FONTS */

.frank{
    font-family: 'Frank Ruhl Libre', serif;
    font-style: normal;
}

.frank-picture-header{
    @extend .frank;
    font-weight: bold;
    font-size: 7.5vw;
    line-height: 8.6vw;
}

.frank-small-header{
    @extend .frank;
    font-weight: bold;
    font-size: 4.44vw;
    line-height: 5.76vw;
}

.frank-numbers{
    @extend .frank;
    font-weight: bold;
    font-size: 6.67vw;
    line-height: 8.61vw;
}

.frank-sources{
    @extend .frank;
    font-weight: 300;
    font-size: 1.25vw;
    line-height: 1.6vw;
}

.nunito{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

.nunito-body{
    @extend .nunito;
    font-size: 1.4vw;
    line-height: 2.29vw;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.roboto-header {
    @extend .roboto;
    font-size: 3.3vw;
    line-height: 3.9vw;
}

.roboto-small-header {
    @extend .roboto;
    font-size: 1.9vw;
    line-height: 2.1vw;
}

.roboto-large-body{
    @extend .roboto;
    font-size: 1.4vw;
    line-height: 1.65vw;
}

.roboto-body{
    @extend .roboto;
    font-size: 1.25vw;
    line-height: 1.7vw;
}

.roboto-small-body{
    @extend .roboto;
    font-size: 1.0vw;
    line-height: 1.4vw;
}