<div class="verticalCenter">
    <div class="horizontal">
        <form>
            <input type="text" placeholder="email" [(ngModel)]="email" name="email">
            <input type="{{showPassword ? 'text' : 'password'}}" placeholder="password" [(ngModel)]="password"
                name="password">
            <input type="{{showPassword ? 'text' : 'password'}}" placeholder="confirmPassword"
                [(ngModel)]="confirmPassword" name="confirmPassword">
            <div class="showPassword">
                <p>Show Password</p>
                <input type="checkbox" class="switch" [(ngModel)]="showPassword" name="showPassword">
            </div>
            <button (click)='submit()'>Submit</button>
            <app-google-sign-in></app-google-sign-in>
            <div class="error" *ngIf="errorText">
                <p>{{errorText}}</p>
            </div>
        </form>
    </div>
</div>