@import './src/styles.scss';
@import '../login/login.component.scss';

// Changes from Login
.foreground{
    h2{
        // Hackey since H2 is full width??
        width: 39%;
    }
    mat-card{
        transform: translate(-50%,-45%);
        .formItem{
            margin-top: 15px;
            margin-bottom: 15px;
        }
        button{
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: $mobileBreakpoint) {
    mat-card{
        transform: translate(-50%,-40%) !important;
        margin-bottom: 40px !important;
    }
}



