<form>
    <input type="text" placeholder="email" [(ngModel)]="email" name="email">
    <div class="password">
        <input type="{{showPassword ? 'text' : 'password'}}" placeholder="password" [(ngModel)]="password"
            name="password">
        <input type="{{showPassword ? 'text' : 'password'}}" placeholder="confirmPassword" [(ngModel)]="confirmPassword"
            name="confirmPassword">
        <input type="checkbox" class="switch" [(ngModel)]="showPassword" name="showPassword">
    </div>
    <button (click)='submit()'>Submit</button>
    <div class="error">
        <p>{{errorText}}</p>
    </div>
</form>