<app-background-image src="assets/register-page.webp"></app-background-image>

<div class="foreground">
    <mat-card>
        <h2 class="roboto-auth-header"><b>Register</b></h2>
        <form [formGroup]="registerForm">

            <div class="formItem">
                <span>Full Name:</span>
                <mat-form-field appearance="fill">
                        <input matInput formControlName="name" required>
                        <mat-error>Required *</mat-error>
                </mat-form-field> 
            </div>

            <div class="formItem">
                <span>Age:</span>
                <mat-form-field appearance="fill">
                        <input type="number" matInput formControlName="age" required>
                        <mat-error>Required *</mat-error>
                </mat-form-field> 
            </div>

            <div class="formItem">
                <span>Email:</span>
                <mat-form-field appearance="fill">
                        <input matInput formControlName="email" required email>
                        <mat-error>{{getEmailErrors()}}</mat-error>
                </mat-form-field> 
            </div>


            <div class="formItem">
                <span>Password:</span>
                <mat-form-field appearance="fill">
                    <input type="password" matInput formControlName="password" required>
                    <mat-error>Required *</mat-error>
                </mat-form-field>
            </div>

            <div class="formItem">
                <span>Confirm Password:</span>
                <mat-form-field appearance="fill">
                    <input type="password" matInput formControlName="confirmPassword" required>
                    <mat-error>Required *</mat-error>
                </mat-form-field>
            </div>

            <button (click)="submit()"><span>Register</span></button>

        </form>
        <p class="errorText">{{errorText}}</p>
        <p class="signInOptionsLabel">Make an account with:</p>
        <div class="signInOptions">
            <app-google-sign-in></app-google-sign-in>
            <app-facebook-sign-in></app-facebook-sign-in>
        </div>
    </mat-card>
</div>